h1 {text-align: center;
right: 300px;
padding-top: 60px;
font-family: Arial; 
letter-spacing: 2px;
font-size: 37;}

main {background-color: #c0c1c2;
border-radius: 5px;}

#img-div {display: flex;
align-items: center;
justify-content: center; }

#image {max-width: 100%;
height: auto;
margin: auto;
position: absolute;
top: 300px;
}



p {text-align: center;
font-family: arial;
font-size: 15;}

figcaption {text-align: center;
background-color: white;
font-family: arial;
font-size: 13;
padding-top: 10px;
padding-bottom: 10px;
width: 94.2%;
margin-left: auto;
margin-right: auto;
margin-top: 800px;
border-radius: 999px;
}

h2 {text-align: center;
font-family: arial;
font-size: 18px;
padding-top: 30px;
padding-bottom: 40px; }

.bold {font-weight: bold;}

li {font-family: arial;
margin-top: 1em;}

ul {width: 45%;
margin-left: auto;
margin-right: auto;
line-height: 1.5em; }

.quote {width: 45%;
margin-left: auto;
margin-right: auto;
padding-top: 40px;
font-style: italic;
font-family: arial;}

a:hover {cursor: pointer;}
